In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.datasets import fetch_california_housing

In [2]:
data=fetch_california_housing()

In [3]:
print(data.DESCR)

.. _california_housing_dataset:

California Housing dataset
--------------------------

**Data Set Characteristics:**

    :Number of Instances: 20640

    :Number of Attributes: 8 numeric, predictive attributes and the target

    :Attribute Information:
        - MedInc        median income in block group
        - HouseAge      median house age in block group
        - AveRooms      average number of rooms per household
        - AveBedrms     average number of bedrooms per household
        - Population    block group population
        - AveOccup      average number of household members
        - Latitude      block group latitude
        - Longitude     block group longitude

    :Missing Attribute Values: None

This dataset was obtained from the StatLib repository.
https://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html

The target variable is the median house value for California districts,
expressed in hundreds of thousands of dollars ($100,000).

This dataset was derived from the 1990 U.S. census, using one row per census
block group. A block group is the smallest geographical unit for which the U.S.
Census Bureau publishes sample data (a block group typically has a population
of 600 to 3,000 people).

A household is a group of people residing within a home. Since the average
number of rooms and bedrooms in this dataset are provided per household, these
columns may take surprisingly large values for block groups with few households
and many empty houses, such as vacation resorts.

It can be downloaded/loaded using the
:func:`sklearn.datasets.fetch_california_housing` function.

.. topic:: References

    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,
      Statistics and Probability Letters, 33 (1997) 291-297

In [4]:
df=pd.DataFrame(data=data.data,columns=data.feature_names)
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [5]:

df['Target']=data.target
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [6]:
df=df.sample(axis=0,frac=1)
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Target
4885,2.1667,37.0,3.272152,1.056962,2173.0,4.584388,34.02,-118.26,1.177
8172,5.3701,36.0,5.957346,0.971564,530.0,2.511848,33.80,-118.12,2.514
7677,5.3146,33.0,5.201183,1.071006,547.0,3.236686,33.92,-118.09,1.686
7216,1.8681,33.0,3.233645,0.962617,488.0,4.560748,34.02,-118.17,1.125
9185,5.6798,4.0,6.395641,1.190986,6902.0,2.549686,34.41,-118.56,3.209

In [7]:
df=df.drop(labels=["Latitude","Longitude"],axis=1)
df.head()

      MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Target
4885  2.1667      37.0  3.272152   1.056962      2173.0  4.584388   1.177
8172  5.3701      36.0  5.957346   0.971564       530.0  2.511848   2.514
7677  5.3146      33.0  5.201183   1.071006       547.0  3.236686   1.686
7216  1.8681      33.0  3.233645   0.962617       488.0  4.560748   1.125
9185  5.6798       4.0  6.395641   1.190986      6902.0  2.549686   3.209

In [8]:

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20640 entries, 4885 to 16038
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Target      20640 non-null  float64
dtypes: float64(7)
memory usage: 1.3 MB

In [9]:

y=df.iloc[:,-1].values
df.drop(labels=['Target'],axis=1,inplace=True)
X=df.iloc[:,:].values

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [11]:

from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor()
model.fit(X_train,y_train)

RandomForestRegressor()

In [12]:

y_pred=model.predict(X_test)

In [13]:

from sklearn.metrics import r2_score
r2_score(y_test,y_pred)*100

70.26468220638623

In [17]:
inp=np.array([5.6798,	4.0,	6.395641,	1.190986,	6902.0,	2.549686	])

In [18]:
inp=inp.reshape((1,-1))

In [19]:
model.predict(inp)

array([3.1575604])